
#login-form{
	margin-top:150px;
}
.optional-form{

	color:#999999;
}


/* CUSTOM NAVIGATION BAR COLOR BOOTSTRAP 
.navbar-inverse {
	background-color: #33B1EC;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #000000;
	background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #000000;
  background-color: transparent;
}


.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.navbar-inverse .navbar-text {
  color: #FFFFFF;
}

.navbar-inverse .navbar-link:hover {
  color: #000000;
}

.navbar-inverse .navbar-link {
  color: #FFF7F7;
}
*/